#add-password {
    margin:0;
    margin-top: 1rem;
    float:right;
    padding:4px 8px;
}

.panel-heading, .list-group .password {
    padding: 0;
}

.panel-heading {
    margin-bottom: 2rem;
}

.panel-heading .badge {
    vertical-align: super;
    font-size: 18px;
}

.password .input-group .form-control-wrapper {
    bottom: 0;
}

.password .input-group {
    bottom: -10px;
    border: thin solid #eee;
    border-top-left-radius: 6px;
    border-bottom-left-radius : 6px;
}

.password .input-group-addon {
    background: #eee;
}

.password .password-display-group {
    margin-bottom: 1rem;
}

.password .password-display-group,
.password .actions {
    padding:0;
}

.password .actions {
    text-align: right;
}

.password .actions .btn {
    padding: 8px 20px;
}

.row-icon {
    float: left;
    display: inline-block;
    padding-right: 16px;
    width: 64px;
    min-width: 64px;
    text-align: center;
}

.row-icon i {
    font-size: 56px;
}





.icon-color-option, .icon-option {
    font-size: 4.5rem;
}

.icon-color-option.selected, .icon-option.selected {
    background: #ccc;
    border-radius: 4px;
}
